.welcome-container {
  text-align: center;
  margin-top: 50px;

  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  a {
    display: inline-block;
    margin-top: 20px;
    color: #0078d4;
    font-weight: bold;
  }
}
